@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    box-sizing: border-box;
}


/* Estilo de index.html */

.indexBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/img/patio-escuela.jpg");
    background-color: #000000bf;
    background-size: cover;
    background-blend-mode: lighten;
}

.homeTitle {
    font-size: 8vh;
    color: rgb(255, 255, 255);
    text-shadow: 6px 6px 8px #111;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
}

.homeImage {
    height: 50vh;
}

#ppal {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
    border-radius: 42px;
    border-width: 0;
    box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px, rgba(179, 132, 201, 0.4) 0 8px 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-family: Quicksand, sans-serif;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: .04em;
    line-height: 16px;
    margin: 0;
    padding: 18px 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px, rgba(255, 255, 255, 0.2) 0 0 12px, rgba(57, 31, 91, 0.6) 1px 1px 4px, rgba(57, 31, 91, 0.32) 4px 4px 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

#ppal:hover {
    background-image: linear-gradient(#B384C9, #391F5B 50%);
}


/* Estilo de form.html */

.formBody {
    background-color: #EBECFF;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.formBody--header {
    height: 15%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.formBody--header a,
.formBody--header a .escudo {
    height: 100%;
}

.formBody--header h1 {
    color: #6556BB;
    text-transform: uppercase;
}

.formBody--header button {
    height: fit-content;
}

.formMain {
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.formMain > section {
    display: flex;
    gap: 10px;
    border-radius: 10px;
    height: 100%;
}

.formMain .form {
    width: 20%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #CCCCCC;
}

.formMain .form input {
    border-radius: 5px;
    background-color: #FFEBCC;
}

.formMain .form .btnAdd {
    width: 50%;
    align-self: end;
    margin-top: 20px;
}

.formMain #list {
    width: 80%;
    height: 100%;
    height: 50vh;
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #CCCCCC;
    overflow: auto;
}

.formMain #listButtons {
    display: flex;
    justify-content: end;
    gap: 10px;
    height: 10%;
}

.formMain #listButtons button {
    height: fit-content;
    border-radius: 5px;
    background-color: #FFEBCC;
}

.listRecords {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: #EBECFF;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.listRecords button {
    background-color: #FFEBCC;
    width: 25px;
    border-radius: 10px;
    margin: 1px;
}

.listRecords p button {
    margin: 0 5px;
}

.listRecords p:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
.listRecords p:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.listRecords p:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
.listRecords p:nth-child(4) { grid-area: 1 / 4 / 2 / 5; }
.listRecords p:nth-child(5) { grid-area: 2 / 1 / 3 / 2; }
.listRecords p:nth-child(6) { grid-area: 2 / 3 / 3 / 5; }
.listRecords p:nth-child(7) { grid-area: 2 / 2 / 3 / 3; }    

.listRecords .buttonThatDeletes {
    grid-area: 1 / 5 / 3 / 6;
    justify-self: center;
    height: fit-content;
    align-self: center;
    padding: 5px;
    font-size: x-large;
    width: fit-content;
}

footer {
    display: flex;
    align-items: center;
    background-color: #FFF;
    height: 5%;
    padding: 0 30px;
}


@media screen and (max-width: 805px) {
    .formMain > section {
        flex-direction: column;
    }

    .formMain .form {
        width: 60%;
        align-self: center;
    }

    .formMain #list {
        width: 100%;
    }

    .formMain #listButtons {
        flex-direction: row;
    }

    .formMain .form .btnAdd {
        width: 35%;
    }

    header h1 {
        text-align: left;
        font-size: 20px;
    }

    header a,
    header button,
    header a img {
        width: 80px;
    }

    header {
        padding: 0 15px
    }

    .listRecords {
        width: fit-content;
    }

    .listRecords p {
        display: flex;
        flex-direction: row;
    }

    .listRecords p button {
        height: fit-content;
    }
}